* {
  border: 4px;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
}

#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

/* General styling for modules */
#window,
#workspaces,
#clock,
#battery,
#battery.charging,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio {
  color: #ffffff;
  margin: 0 4px;
}

/* Special case for urgent workspace */
#workspaces button.urgent {
  color: #eb4d4b;
}

/* Active workspace highlight */
#workspaces button.active {
  font-weight: bold;
  box-shadow: inset 0 -1px #ffffff;
}

/* Remove margin on edges */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* Battery charging highlight */
#battery.charging {
  color: #00ff04;
}

/* Blinking red battery when critical and not charging */
@keyframes blink {
  to {
    color: #ffffff;
  }
}
#battery.critical:not(.charging) {
  color: #ff0000;
  animation: blink 0.5s linear infinite alternate;
}