* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(10, 10, 10, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
    color: #CCCCCC;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

button:focus, button:active, button:hover {
	background-color: #2A2A2A;
	outline-style: none;
}
